{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "vxnet": {{cluster.vxnet}},
    "display_tabs": {
        "dashboards": {
            "cmd": "/etc/init.d/grafana-service dashboards",
            "timeout": 10,
            "description": "Grafana's dashboards template. Download by wget ftp://ip/filename.json"
        },
        "job_list": {
            "cmd": "/etc/init.d/grafana-service displayjobs",
            "timeout": 10,
            "description": "Display the Prometheus's job list."
        }
    },
    "nodes": [
        {
            "role": "grafana_node",
            "container": {
                "type": "lxc",
                "zone": "gd2a",
                "image": "img-e8aru6d8"
            },
            "instance_class": {{cluster.grafana_node.instance_class}},
            "cpu": {{cluster.grafana_node.cpu}},
            "memory": {{cluster.grafana_node.memory}},
            "volume": {
                "size": {{cluster.grafana_node.volume_size}},
                "mount_point": "/data",
                "mount_options": "defaults,noatime",
                "filesystem": "ext4"
            },
            "vertical_scaling_policy": "sequential",
            "services": {
                "start": {
                    "cmd": "service prometheus start; service grafana-server start"
                },
                "restart": {
                   "cmd": "service prometheus restart; service grafana-server restart"
                },
                "stop": {
                    "cmd": "service prometheus stop; service grafana-server stop"
                },
                "reset_admin":{
                    "type": "custom",
                    "cmd": "/etc/init.d/rafana-service reset",
                    "timeout": 60
                },
                "modify_user":
                {
                    "type": "custom",
                    "cmd": "/etc/init.d/grafana-service modifyuser",
                    "timeout": 600,
                    "service_params": {
                        "oldpasswd": {{service_params.oldpasswd}},
                        "newpasswd": {{service_params.newpasswd}},
                        "confirmnew": {{service_params.confirmnew}}
                    }
                },
                "add_job":{
                    "type": "custom",
                    "cmd": "/etc/init.d/grafana-service addjob",
                    "timeout": 60,
                    "service_params": {
                        "job_name": {{service_params.job_name}},
                        "targets":{{service_params.targets}}
                    }
                }
            },
            "health_check": {
                "enable": true,
                "interval_sec": 60,
                "timeout_sec": 60,
                "action_timeout_sec": 60,
                "healthy_threshold": 3,
                "unhealthy_threshold": 3,
                "check_cmd": "/opt/prometheus/scripts/serverStatus.sh",
                "action_cmd": "/opt/prometheus/scripts/recheck-health.sh"
            },
            "advanced_actions": ["associate_eip"]
        }    
    ]
}
