{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "vxnet": {{cluster.vxnet}},
    "display_tabs": {
        "dashboards": {
            "cmd": "/etc/init.d/grafana-service dashboards",
            "timeout": 10,
            "description": "Grafana's dashboards template. Download by wget ftp://ip/file"
        },
        "job_list": {
            "cmd": "/etc/init.d/grafana-service displayjobs",
            "timeout": 10,
            "description": "Display the Prometheus's job list."
        }
    },
    "nodes": [
        {
            "container": {
                "type": "kvm",
                "zone": "gd2a",
                "image": "img-hxv0yxtc"
            },
            "count": {{cluster.nodes.count}},
            "instance_class": {{cluster.nodes.instance_class}},
            "cpu": {{cluster.nodes.cpu}},
            "memory": {{cluster.nodes.memory}},
            "volume": {
                "size": {{cluster.nodes.volume_size}},
                "mount_point": "/data",
                "mount_options": "defaults,noatime",
                "filesystem": "ext4"
            },
            "vertical_scaling_policy": "sequential",
            "user_access": true,
            "services": {
                "start": {
                    "cmd": "/etc/init.d/grafana-service start"
                },
                "restart": {
                   "cmd": "/etc/init.d/grafana-service restart"
                },
                "stop": {
                    "cmd": "/etc/init.d/grafana-service stop"
                },
                "reset_admin": {
                    "type": "custom",
                    "cmd": "/etc/init.d/grafana-service reset",
                    "timeout": 60,
                    "service_params": {
                        "newpasswd": {{service_params.newpasswd}}
                    }
                },
                "add_job": {
                    "type": "custom",
                    "cmd": "/etc/init.d/grafana-service addjob",
                    "timeout": 60,
                    "service_params": {
                        "job_name": {{service_params.job_name}},
                        "ip":{{service_params.ip}},
                        "port":{{service_params.port}},
                        "labelname":{{service_params.labelname}},
                        "labelvalue":{{service_params.labelvalue}},
                        "honor_labels": {{service_params.honor_labels}},
                        "scrape_interval": {{service_params.scrape_interval}},
                        "scrape_timeout": {{service_params.scrape_timeout}},
                        "metrics_path": {{service_params.metrics_path}},
                        "scheme": {{service_params.scheme}}
                    }
                },
                "del_job": {
                    "type": "custom",
                    "cmd": "/etc/init.d/grafana-service deljob",
                    "timeout": 60,
                    "service_params": {
                        "job_name": {{service_params.job_name}},
                        "ip":{{service_params.ip}},
                        "port":{{service_params.port}}
                    }
                },
                "start_alertmanager": {
                    "type": "custom",
                    "cmd": "/etc/init.d/grafana-service startalertmanager",
                    "timeout": 60
                },
                "stop_alertmanager": {
                    "type": "custom",
                    "cmd": "/etc/init.d/grafana-service stopalertmanager",
                    "timeout": 60
                }
            }
        } 
    ],
    "health_check": {
        "enable": true,
        "interval_sec": 60,
        "timeout_sec": 30,
        "action_timeout_sec": 30,
        "healthy_threshold": 2,
        "unhealthy_threshold": 2,
        "check_cmd": "/etc/init.d/grafana-service healthcheck",
        "action_cmd": "/etc/init.d/grafana-service healthaction"
    },
    "advanced_actions": ["associate_eip"],
    "endpoints": {
        "prometheus": {
            "port": {{env.prometheus_port}},
            "protocol": "tcp"
        },
        "grafana": {
            "port": {{env.grafana_port}},
            "protocol": "tcp"
        }
    },
    "env": {
        "grafana_port": {{env.grafana_port}},
        "admin_user": {{env.admin_user}},
        "admin_password": {{env.admin_password}},
        "prometheus_port": {{env.prometheus_port}},
        "tsdb_retention": {{env.tsdb_retention}},
        "scrape_interval": {{env.scrape_interval}},
        "scrape_timeout": {{env.scrape_timeout}},
        "evaluation_interval": {{env.evaluation_interval}},
        "external_labelname": {{env.external_labelname}},
        "external_labelvalue": {{env.external_labelvalue}}
    }   
}
