{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "vxnet": {{cluster.vxnet}},
    "display_tabs": {
        "dashboards": {
            "cmd": "/etc/init.d/grafana-service dashboards",
            "timeout": 10,
            "description": "Grafana's dashboards template. Download by wget ftp://ip/file"
        },
        "job_list": {
            "cmd": "/etc/init.d/grafana-service displayjobs",
            "timeout": 10,
            "description": "Display the Prometheus's job list."
        }
    },
    "nodes": [
        {
            "role": "grafana_node",
            "container": {
                "type": "lxc",
                "zone": "gd2a",
                "image": "img-b336wh1b"
            },
            "count": {{cluster.grafana_node.count}},
            "instance_class": {{cluster.grafana_node.instance_class}},
            "cpu": {{cluster.grafana_node.cpu}},
            "memory": {{cluster.grafana_node.memory}},
            "volume": {
                "size": {{cluster.grafana_node.volume_size}},
                "mount_point": "/data",
                "mount_options": "defaults,noatime",
                "filesystem": "ext4"
            },
            "vertical_scaling_policy": "sequential",
            "services": {
                "start": {
                    "cmd": "/etc/init.d/grafana-service start"
                },
                "restart": {
                   "cmd": "/etc/init.d/grafana-service restart"
                },
                "stop": {
                    "cmd": "/etc/init.d/grafana-service stop"
                },
                "reset_admin": {
                    "type": "custom",
                    "cmd": "/etc/init.d/grafana-service reset",
                    "timeout": 60,
                    "service_params": {
                        "newpasswd": {{service_params.newpasswd}}
                    }
                },
                "add_job": {
                    "type": "custom",
                    "cmd": "/etc/init.d/grafana-service addjob",
                    "timeout": 60,
                    "service_params": {
                        "job_name": {{service_params.job_name}},
                        "ip":{{service_params.ip}},
                        "port":{{service_params.port}},
                        "instance":{{service_params.instance}}
                    }
                },
                "del_job": {
                    "type": "custom",
                    "cmd": "/etc/init.d/grafana-service deljob",
                    "timeout": 60,
                    "service_params": {
                        "job_name": {{service_params.job_name}},
                        "instance":{{service_params.instance}}
                    }
                }
            }
        } 
    ],
    "health_check": {
        "enable": true,
        "interval_sec": 60,
        "timeout_sec": 30,
        "action_timeout_sec": 30,
        "healthy_threshold": 2,
        "unhealthy_threshold": 2,
        "check_cmd": "/etc/init.d/grafana-service healthcheck",
        "action_cmd": "/etc/init.d/grafana-service healthaction"
    },
    "advanced_actions": ["associate_eip"],
    "endpoints": {
        "prometheus": {
            "port": {{env.prometheus_port}},
            "protocol": "tcp"
        },
        "grafana": {
            "port": {{env.grafana_port}},
            "protocol": "tcp"
        }
    },
    "env": {
        "grafana_port": {{env.grafana_port}},
        "admin_user": {{env.admin_user}},
        "admin_password": {{env.admin_password}},
        "prometheus_port": {{env.prometheus_port}},
        "tsdb_retention": {{env.tsdb_retention}}
    }   
}
